@font-face {
    font-family: "Norse";
    src: url("fonts/Norse-Bold.woff2") format("woff2"),
        url("fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #596d48;
    --secondary-color: #e5e7e8;
    --valid-border-color: #3385ff;
    --invalid-border-color: #ff3333;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

input,
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
}

main {
    font-family: "Lato", sans-serif;
    font-style: normal;
    display: flex;
}

.left {
    flex-basis: 50rem;
    height: 100vh;
    position: relative;
    background: url("images/leaves.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--secondary-color);
}

.logo-container {
    position: absolute;
    top: 25%;
    display: flex;
    height: 16rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: center;
    padding: 1.2rem;
}

.logo-name {
    font-family: "Norse", sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
}

.logo-img {
    display: block;
    height: 100%;
}

.credit {
    position: absolute;
    font-size: 1.4rem;
    color: var(--secondary-color);
    bottom: 5%;
    font-size: 300;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
}

.credit a:link,
.credit a:visited {
    color: var(--secondary-color);
}

.right {
    flex: 1;
    font-size: 1.6rem;
    background-color: var(--secondary-color);
}

.form-header {
    font-size: 2.2rem;
    width: min(70ch, 75%);
    padding: 12rem 0 0 4.8rem;
}

.form-header p {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.form-header p .highlight {
    color: var(--primary-color);
    font-size: 2.4rem;
}

.form-header p.para {
    margin: 4rem 0;
}

#sign-up {
    background-color: #fff;
    padding: 1.2rem 0 2.4rem 4.8rem;
}

#sign-up > * {
    display: flex;
    align-items: flex-start;
    margin-top: 2.4rem;
    column-gap: 10rem;
}

#sign-up > * > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#sign-up label {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--primary-color);
    text-transform: uppercase;
}

#sign-up label > span {
    font-size: 1.8rem;
}

.sign-up--heading {
    font-size: 2.4rem;
    font-weight: 400;
}

#sign-up input::placeholder {
    font-weight: 100;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#sign-up input {
    width: 30rem;
    height: 4rem;
    padding: 1rem;
    border: 1.5px solid var(--secondary-color);
    border-radius: 3px;
}

#sign-up input:focus {
    outline: none;
    border: 1.5px solid var(--valid-border-color);
    box-shadow: 1.5px 2px 5px 0 rgba(0, 0, 0, 0.25);
}

#sign-up input:focus::placeholder {
    opacity: 0;
}

#sign-up input[type="password"]:focus:invalid {
    border-color: var(--invalid-border-color);
}

.password-container > * {
    position: relative;
}

.pwd-validation {
    position: absolute;
    right: 0;
}

#sign-up input[type="password"]:valid + .pwd-validation::after {
    content: "\e86c";
    font-family: "Material Symbols Outlined";
    color: var(--primary-color);
    font-size: 1.8rem;
    font-variation-settings: "FILL" 1;
}

.submit-container {
    padding: 4rem 0 0 4.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    font-size: 2rem;
}

.submit-container button {
    font-weight: 700;
    cursor: pointer;
    width: 24rem;
    border-radius: 7px;
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
    padding: 1.6rem 0;
}

.submit-container button:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.login-cta {
    color: var(--primary-color);
    font-weight: 700;
}
